/* Set the HTML and body font size */
html, body {
    font-size: 16px;
}

/* Paragraph styles */
p {
    font-weight: 400;
    line-height: 1.4em;
}

/* h1 styles */
h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* h2 styles */
h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

/* Address styles */
address {
    text-align: center;
}

/* Website URL styles */
address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

/* Hover and visited pseudo classes */
address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

address a:visited {
    color: #6B4A91; /* Example color for visited link */
}

/* CSS for sentence class */
.sentence {
    font-style: italic;
}

/* CSS for intro class */
.intro {
    text-indent: 2em;
}
